shiny
shinywidgets
python-dotenv
starlette<0.37.0
pandas
plotly
google-cloud-bigquery
google-api-python-client
google-auth
pytz
db-dtypes
google-cloud-secret-manager
tzdata
kaleido==0.2.1
openpyxl
xlrd
pyarrow
google-cloud-bigquery-storage
matplotlib
Pillow
streamlit>=1.30.0
streamlit-image-coordinates
